:root {
	--bg-color: #fff;
	--font-color: #303030;
	--sidebar-color: #fff;
	--sidebar-font-color: #303030;
  --search-toggle-color: #000;
	--nav-color: #fff;
	--nav-font-color: #303030;
	--navbar-color: #fff;
  --nested-li-color: #eee;
  --scrollspy-active-color: rgba(0,0,0,0.75);
  --bottom-nav-focus-color: rgba(0, 0, 0, 0.75);
  --bottom-nav-hover-color: black;
  --loader-color: #1565c0;
  --nested-li-active-color: black;
  --sidebar-a-hover-color: rgba(200, 200, 200, .1);
}

/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v85/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

	0%,
	100% {
		transform: rotate(0)
	}

	20%,
	60% {
		transform: rotate(-25deg)
	}

	40%,
	80% {
		transform: rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}
#search_popup {overflow-y: auto}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
#table_of_contents {
	max-height: 95vh;
	overflow-y: scroll;
}
::-webkit-scrollbar {
	display: none
}
#table_of_contents::-webkit-scrollbar {
	display: none;
}
body {
	padding-left: 300px;
	background: var(--bg-color);
	color: var(--font-color) !important;
	padding-top: 65px;
	margin: 0;
}
.sidebar a:focus {
  outline: 0;
  background: rgba(200, 200, 200, .05)
}
@media only screen and (min-width: 992px) {
	body.hide-nav {
		padding-top: 20px
	}

	.fake_nav {
		display: none;
		z-index: 2 !important
	}

	.github-corner {
		z-index: 99999999999999999 !important
	}
}

.sidebar {
	position: fixed;
	transition: left .2s;
	z-index: 999999;
	top: 0;
	overflow-y: auto;
	width: 300px;
	height: 100vh;
	left: 0;
	background: var(--sidebar-color);
  box-shadow:0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)
}

.sidebar a {
	text-decoration: none;
	color: var(--sidebar-font-color);
	line-height: 50px;
	padding: 0 10px;
	display: block;
}

.sidebar ul ul a::before {
	background: var(--nested-li-color);
	content: "";
	width: 2px;
	height: 50px;
	position: absolute;
	margin-left: -10px;
	z-index: -1
}

.hide-sidenav .sidebar {
	left: -300px
}


/* .sidebar ul ul ul a::before { */
/* } */
.sidebar-active::before {
	background: var(--nested-li-active-color) !important
}

#search_popup input {
	width: 100%;
	padding: 15px;
	font-size: 18px;
	border: 0;
	border-bottom: 1px solid #eee;
	outline: 0;
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box
}

#search_popup {
	position: fixed;
	top: 0;
	right: 0;
	transition: right .2s;
	width: 400px;
	z-index: 999999999999999999999;
	height: 100%;
	background: white;
}

.active {
	background: rgba(0, 0, 0, .1) !important;
}
.scrollspy_bar .active {
  background: transparent !important;
  box-shadow: 2px 0px 0px 0px var(--scrollspy-active-color) inset !important;
  border-radius: 0 !important
} 
.scrollspy_bar .table_of_contents_link a{
  border-radius: 0 !important;
  transition: background .2s !important
}
li img {
  margin-left: 20px;
  border: 1px solid rgba(200, 200, 200, .5);
  border-radius: 5px;
}
.sidenav-overlay,
#search_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	z-index: 99;
	display: none;
	opacity: 0;
	transition: all .2s;
}

#search_overlay {
	z-index: 9999999;
}

.sidebar a:not(.sidebar-active):hover {
	background: var(--sidebar-a-hover-color) !important
}

.sidebar li li {
	margin-left: 30px
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
div,
input,
button {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
}

a {
	text-decoration: none;
	color: #2196f3
}

#page_content a:hover {
	text-decoration: underline;
	color: #2196f3
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
}

.container {
	margin: 0 auto;
	max-width: 90%;
	width: 90%
}

#page_content p,
#page_content li {
	line-height: 30px
}

@media only screen and (min-width: 601px) {
	.container {
		width: 90%
	}
}

@media only screen and (min-width: 993px) {
	.container {
		width: 80%
	}
}

.sidebar-active {
	background: rgba(200, 200, 200, .3) !important
}

nav {
	position: fixed;
  z-index: 9;
	transition: box-shadow .2s;
	top: 0;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	left: 300px;
	background: var(--navbar-color);
	width: 100%
}

nav ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	line-height: 1;
}

#docjs_page_title {
	vertical-align: middle;
  color: var(--sidebar-font-color)
}

nav a {
	line-height: 60px;
	margin-right: -4px;
	padding: 0 10px;
	color: var(--nav-font-color);
	display: inline-block
}

nav {
	user-select: none;
}

nav a i {
	position: relative;
	bottom: -6px;
}

nav li {
	padding: 0;
	margin: 0;
	line-height: 1;
	display: inline;
	white-space-collapsing: discard;
	user-select: none;
}

nav a:hover {
	background: rgba(0, 0, 0, .05)
}

.linear-progress {
	background: #bbdefb;
	height: 20px;
	position: relative;
	width: 50%;
	margin: 0 auto;
	margin-top: 2rem;
	overflow: hidden;
	-webkit-animation: start 0.3s ease-in;
	animation: start 0.3s ease-in;
}

.linear-progress.small {
	width: 100%;
	height: 10px;
}

.linear-progress .bar {
	position: absolute;
	background: #1565c0;
	transition: transform 0.2s linear;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
}

.linear-progress .bar1 {
	-webkit-animation: progressLinearMovement 2.5s infinite;
	animation: progressLinearMovement 2.5s infinite;
	-webkit-animation-delay: 0;
	animation-delay: 0;
}

.linear-progress .bar2 {
	left: -100%;
	-webkit-animation: progressLinearMovement 2.5s infinite;
	animation: progressLinearMovement 2.5s infinite;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.header span {
	font-size: 20px;
	margin-left: 10px;
	color: gray
}

#res {
	list-style: none;
	padding: 0;
}

#res a {
	display: block;
  border-radius: 3px;
  transition: all .2s;
	padding: 10px 15px;
	color: #303030;
  outline: 0;
}

#res a:hover {
	background: rgba(0, 0, 0, .1);
  color: var(--font-color)
}
#res a:focus {
  	box-shadow: 0px 0px 0px 2px #212121;
}
.linear-progress-material {
	background: #aad1f9;
	height: 10px;
	position: relative;
	width: 50%;
	margin: 0 auto;
	margin-top: 2rem;
	overflow: hidden;
	-webkit-animation: start 0.3s ease-in;
	animation: start 0.3s ease-in;
}

.linear-progress-material.small {
	width: 100%;
	height: 3px;
}

.linear-progress-material .bar {
	position: absolute;
	background: #106cc8;
	transition: transform 0.2s linear;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
}

.linear-progress-material .bar1 {
	-webkit-animation: growBar1 2.5s infinite, moveBar1 2.5s infinite;
	animation: growBar1 2.5s infinite, moveBar1 2.5s infinite;
}

.linear-progress-material .bar2 {
	-webkit-animation: growBar2 2.5s infinite, moveBar2 2.5s infinite;
	animation: growBar2 2.5s infinite, moveBar2 2.5s infinite;
}

@-webkit-keyframes growBar1 {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		transform: scaleX(0.1);
	}

	36.6% {
		-webkit-animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
		animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
		transform: scaleX(0.1);
	}

	69.15% {
		-webkit-animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
		animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
		transform: scaleX(0.83);
	}

	100% {
		transform: scaleX(0.1);
	}
}

@keyframes growBar1 {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		transform: scaleX(0.1);
	}

	36.6% {
		-webkit-animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
		animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
		transform: scaleX(0.1);
	}

	69.15% {
		-webkit-animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
		animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
		transform: scaleX(0.83);
	}

	100% {
		transform: scaleX(0.1);
	}
}
@-webkit-keyframes moveBar1 {
	0% {
		left: -105.16667%;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}

	20% {
		left: -105.16667%;
		-webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
		animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
	}

	69.15% {
		left: 21.5%;
		-webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
		animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
	}

	100% {
		left: 95.44444%;
	}
}

@keyframes moveBar1 {
	0% {
		left: -105.16667%;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}

	20% {
		left: -105.16667%;
		-webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
		animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
	}

	69.15% {
		left: 21.5%;
		-webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
		animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
	}

	100% {
		left: 95.44444%;
	}
}

@-webkit-keyframes growBar2 {
	0% {
		-webkit-animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
		animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
		transform: scaleX(0.1);
	}

	19.15% {
		-webkit-animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
		animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
		transform: scaleX(0.57);
	}

	44.15% {
		-webkit-animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
		animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
		transform: scaleX(0.91);
	}

	100% {
		transform: scaleX(0.1);
	}
}

@keyframes growBar2 {
	0% {
		-webkit-animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
		animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
		transform: scaleX(0.1);
	}

	19.15% {
		-webkit-animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
		animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
		transform: scaleX(0.57);
	}

	44.15% {
		-webkit-animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
		animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
		transform: scaleX(0.91);
	}

	100% {
		transform: scaleX(0.1);
	}
}

@-webkit-keyframes moveBar2 {
	0% {
		left: -54.88889%;
		-webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
		animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
	}

	25% {
		left: -17.25%;
		-webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
		animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
	}

	48.35% {
		left: 29.5%;
		-webkit-animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
		animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
	}

	100% {
		left: 117.38889%;
	}
}

@keyframes moveBar2 {
	0% {
		left: -54.88889%;
		-webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
		animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
	}

	25% {
		left: -17.25%;
		-webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
		animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
	}

	48.35% {
		left: 29.5%;
		-webkit-animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
		animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
	}

	100% {
		left: 117.38889%;
	}
}

@-webkit-keyframes start {
	from {
		max-height: 0;
		opacity: 0;
	}

	to {
		max-height: 20px;
		opacity: 1;
	}
}

@keyframes start {
	from {
		max-height: 0;
		opacity: 0;
	}

	to {
		max-height: 20px;
		opacity: 1;
	}
}

@-webkit-keyframes end {
	from {
		max-height: 0;
		opacity: 0;
	}

	to {
		max-height: 2px;
		opacity: 1;
	}
}

@keyframes end {
	from {
		max-height: 0;
		opacity: 0;
	}

	to {
		max-height: 2px;
		opacity: 1;
	}
}

@-webkit-keyframes progressLinearMovement {
	0% {
		left: -100%;
	}

	50% {
		left: 100%;
	}

	100% {
		left: 100%;
	}
}

@keyframes progressLinearMovement {
	0% {
		left: -100%;
	}

	50% {
		left: 100%;
	}

	100% {
		left: 100%;
	}
}

.spinner {
	width: 50px;
	height: 50px;
	fill: var(--loader-color);
	stroke: var(--loader-color);
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
}

.spinner__path {
	stroke-linecap: round;
	-webkit-animation: dash 1.5s ease infinite;
	animation: dash 1.5s ease infinite;
}

@-webkit-keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}

	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}

	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

.container {
	transition: width .2s;
}

.docjs_logo {
	vertical-align: middle;
}

.header {
	padding: 30px 10px;
  height: 80px;
	padding-bottom: 0;
}

.mobile-trigger {
	display: none
}

.col {
	padding: 0 15px;
	float: left;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.col-1 {
	width: 10% !important
}

.col-2 {
	width: 20% !important
}

.col-3 {
	width: 33.333333% !important
}

.col-4 {
	width: 40% !important
}
@media only screen and (min-width: 992px) {
	.col-5 {
		width: 50% !important
	}
}
.col-6 {
	width: 60% !important
}

.col-7 {
	width: 70% !important
}

.col-8 {
	width: 80% !important
}

.col-9 {
	width: 90% !important
}

.col-10 {
	width: 100% !important
}

.footer .footerBtn {
	width: 100%;
	border: 1.5px solid rgba(0, 0, 0, .1);
	background: #fff;
	padding: 30px 20px;
	border-radius: 5px;
	transition: background .2s, box-shadow .2s, border .2s;
	cursor: pointer;
	text-align: left;
	font-size: 15px;
	outline: 0;
}

blockquote {
	background: #f1f1f1;
	margin: 0;
	border-left: 5px solid #ccc;
	width: 100%;
	padding: 5px 15px;
	box-sizing: border-box
}

img {
	transition: box-shadow .2s;
}

img:hover {
	cursor: pointer;
}

img:focus {
	box-shadow: 0px 0px 0px 2px #212121;
	outline: 0;
}

.footer .footerBtn:focus {
	box-shadow: 0px 0px 0px 2px var(--bottom-nav-focus-color) inset;
	border-color: var(--bottom-nav-focus-color);
}

.footer .footerBtn:hover {
	/* box-shadow: none; */
	background: rgba(0, 0, 0, .05);
  color: var(--bottom-nav-hover-color);
}

.footer .footerBtn:active {
	/* box-shadow: none; */
	background: rgba(0, 0, 0, .1);
}

.footer {
	margin-bottom: 10px;
}

.next {
	text-align: right;
}

code {
	background: rgba(100, 100, 100, .1);
	display: block;
	word-wrap: break-word;
	overflow: overlay;
	padding: 10px;
	border: 0;
	border-radius: 2px;
	transition: all .2s;
}

@media only screen and (max-width: 992px) {
	.m10 {
		width: 100% !important
	}
}

.row {
	width: 100% !important
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

code {
	font-size: 15px
}

.search_toggle {
	border: 0;
	float: right;
	border-radius: 999px;
	width: 56px;
	height: 56px;
  color: var(--search-toggle-color);
	background: var(--sidebar-color);
	cursor: pointer;
	outline: 0;
	transition: all .2s
}

.search_toggle:focus {
	box-shadow: 0px 0px 0px 2px rgba(200, 200, 200, 0.75);
}

.search_toggle:hover {
	background: rgba(200, 200, 200, 0.05);
	box-shadow: none;
}

.search_toggle:active {
	background: rgba(200, 200, 200, 0.1);
	box-shadow: none;
}

.imagebox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	user-select: none;
	background: rgba(0, 0, 0, .3);
	z-index: 999999999;
	text-align: center;
	display: none;
	transition: all .2s;
}

html {
	scroll-behavior: smooth;
}

#imagebox_img {
	transition: all .2s;
	width: 70%;
	position: fixed;
	top: 50%;
	max-height: 100%;
	left: 50%;
	transform-origin: top left;
	transform: scale(.9) translate(-50%, -50%);
}

.skeleton-screen {
	margin: auto;
	width: 100%;
	height: 400px;
	background-image: radial-gradient(0px at 0px 0px, transparent 99%, transparent 0), linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(200, 200, 200, .1) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(rgba(200, 200, 200, .4) 20px, transparent 0), linear-gradient(rgba(200, 200, 200, .4) 20px, transparent 0), linear-gradient(rgba(200, 200, 200, .4) 20px, transparent 0), linear-gradient(rgba(200, 200, 200, .4) 20px, transparent 0);
	background-repeat: repeat-y;
	background-size: 50px 0px, 100px 300px, 550px 200px, 510px 200px, 530px 200px, 560px 200px;
	background-position: 0 0, -100px 0, 0 0, 0 40px, 0 80px, 0 120px;
	animation: shine 2s infinite;
}

@keyframes shine {
	to {
		background-position: 0 0, 150% 0, 0 0, 0 40px, 0 80px, 0 120px;
	}
}

.table_of_contents_link {
	color: gray;
}

.table_of_contents_link a {
	color: gray;
	display: block;
	padding: 10px;
	transition: background .2s, color .2s, box-shadow .2s;
	border-radius: 4px;
}

.table_of_contents_link a:hover {
	color: #303030 !important;
	text-decoration: none !important;
	background: rgba(0, 0, 0, .05)
}

.hide-sidenav .mobile-trigger {
	display: block;
}

.hide-sidenav body {
	padding-left: 0;
}

.hide-sidenav nav {
	left: 0;
}

.table_of_contents_link_a {
	outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading-color);
	line-height: 1.3;
	font-weight: bold
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: inherit
}

h1:not(#DOCJS_TITLE) {
	font-size: 3.2rem;
	line-height: 110%;
	margin: 2.8rem 0 1.68rem 0
}

h2 {
	font-size: 2.56rem;
	line-height: 110%;
	margin: 2.3733333333rem 0 1.424rem 0
}

input {
	border-radius: 0 !important
}

code {
	font-family: 'Source Code Pro', monospace;
}

h3 {
	font-size: 1.92rem;
	line-height: 110%;
	margin: 1.9466666667rem 0 1.168rem 0
}

h4 {
	font-size: 1.28rem;
	line-height: 110%;
	margin: 1.52rem 0 .912rem 0
}

h5 {
	font-size: 0.64rem;
	line-height: 110%;
	margin: 1.0933333333rem 0 .656rem 0
}

h6 {
	font-size: 0.15rem;
	line-height: 110%;
	margin: .7666666667rem 0 .46rem 0
}

em {
	font-style: italic
}

strong {
	font-weight: 500
}

small {
	font-size: 75%
}

.light {
	font-weight: 300
}

.thin {
	font-weight: 200
}

a {
	text-decoration: none;
	color: #3884FF
}

#page_content a:hover {
	text-decoration: underline
}
.table_of_contents_link_a:focus {
	box-shadow: 0px 0px 0px 2px #212121;
}

.table_of_contents_link_a:hover {
	box-shadow: none
}
.table_of_contents_link {
  transition: background .2s, box-shadow .2s !important;
}
@media only screen and (max-width: 992px) {
	.col-5,.footer * {
		width: 100% !important
	}
	.hide-on-mobile {
		display: none
	}

	.mobile-trigger {
		display: block
	}

	.sidebar {
		left: -300px;
	}

	body {
		padding-left: 0;
	}

	nav {
		left: 0;
	}

	#search_popup {
		width: 90%;
	}
}

.prettyprint {
	background: #fff;
	font-family: inherit !important;
	border: 0 !important
}

.pln {
	color: #4d4d4c !important;
}

ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
	color: #8e908c
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
	padding-left: 1em;
	background-color: #fff;
	list-style-type: decimal
}

@media screen {
	.str {
		color: #718c00 !important;
	}

	.kwd {
		color: #8959a8 !important;
	}

	.com {
		color: #8e908c !important;
	}

	.typ {
		color: #4271ae !important;
	}

	.lit {
		color: #f5871f !important;
	}

	.pun {
		color: #4d4d4c !important;
	}

	.opn {
		color: #4d4d4c !important;
	}

	.clo {
		color: #4d4d4c !important;
	}

	.tag {
		color: #c82829 !important;
	}

	.atn {
		color: #f5871f !important;
	}

	.atv {
		color: #3e999f !important;
	}

	.dec {
		color: #f5871f !important;
	}

	.var {
		color: #c82829 !important;
	}

	.fun {
		color: #4271ae !important;
	}
}
:not(.bootstrapTheme) .btn {
 outline: 0;
 padding: 15px 20px;
 border: 0;
 font-size: 15px;
 cursor: pointer;
 margin: 5px;
 border-radius: 3px;
 box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
 color: white;
 transition: opacity .2s;
}
:not(.bootstrapTheme) .btn:focus {
	opacity: .8
}
:not(.bootstrapTheme) .btn:hover {
	opacity: .9
}
:not(.bootstrapTheme) .btn:active {
	opacity: .85
}
:not(.bootstrapTheme) .btn-primary {
	background: #1565c0;
}

:not(.bootstrapTheme) .btn-danger {
	background: #c62828;
}

:not(.bootstrapTheme) .btn-dark {
	background: #212121
}

:not(.bootstrapTheme) .btn-warning {
	background: #ff8f00
}

:not(.bootstrapTheme) .btn-success {
	background: #2e7d32
}

:not(.bootstrapTheme) .btn-secondary {
	background: #37474f
}

:not(.bootstrapTheme) .btn-light {
	color: black
}

:not(.bootstrapTheme) .btn-link {
	color: inherit
}
:not(.bootstrapTheme) .btn-sm {
	padding: 10px 15px;
	font-size: 13px;
}
:not(.bootstrapTheme) .btn-lg {
	padding: 20px 25px;
	font-size: 18px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	font-weight: bold
}

td, th {
	text-align: left;
	padding: 15px 20px;
}

tr {
	border-bottom: 1px solid rgba(0, 0, 0, .1)
}

/* Bootstrap theme */
.bootstrapTheme .sidebar a {
transition: box-shadow .2s, background .2s, color .2s
}
.bootstrapTheme .sidebar a:focus,.bootstrapTheme img:focus {
	box-shadow:0 0 0 .25rem rgba(13,110,253,.25)
}
.bootstrapTheme #page_content img {
	border-radius: 5px;
}
.bootstrapTheme .sidebar-active {
	background: #0d6efd !important;
	color: white !important;
	font-weight: bold !important
}
.bootstrapTheme kbd {
	background: #212121;
	border-radius: 2px;
	padding: 2px;
	color: white
}
.bootstrapTheme code {
	background: rgba(0, 0, 0, .05) !important
}
.bootstrapTheme blockquote {
	border: 1px solid #eee;
	border-radius: 10px;
	background: transparent !important
}
.bootstrapTheme .sidebar a::before {
	display: none;
}
.bootstrapTheme .active {
	background: #0d6efd !important;
	color: white !important
}

.bootstrapTheme .btn{margin: 5px;display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.bootstrapTheme .btn{transition:none}}.bootstrapTheme .btn:hover{color:#212529}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn,.bootstrapTheme .btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25)}.bootstrapTheme .btn.disabled,.bootstrapTheme .btn:disabled,fieldset:disabled .bootstrapTheme .btn{pointer-events:none;opacity:.65}.bootstrapTheme .btn-primary{color:#fff;background-color:#0d6efd;border-color:#0d6efd}.bootstrapTheme .btn-primary:hover{color:#fff;background-color:#0b5ed7;border-color:#0a58ca}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-primary,.bootstrapTheme .btn-primary:focus{color:#fff;background-color:#0b5ed7;border-color:#0a58ca;box-shadow:0 0 0 .25rem rgba(49,132,253,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-primary,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-primary,.bootstrapTheme .btn-primary.active,.bootstrapTheme .btn-primary:active,.show>.bootstrapTheme .btn-primary.dropdown-toggle{color:#fff;background-color:#0a58ca;border-color:#0a53be}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-primary:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-primary:focus,.bootstrapTheme .btn-primary.active:focus,.bootstrapTheme .btn-primary:active:focus,.show>.bootstrapTheme .btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .25rem rgba(49,132,253,.5)}.bootstrapTheme .btn-primary.disabled,.bootstrapTheme .btn-primary:disabled{color:#fff;background-color:#0d6efd;border-color:#0d6efd}.bootstrapTheme .btn-secondary{color:#fff;background-color:#6c757d;border-color:#6c757d}.bootstrapTheme .btn-secondary:hover{color:#fff;background-color:#5c636a;border-color:#565e64}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-secondary,.bootstrapTheme .btn-secondary:focus{color:#fff;background-color:#5c636a;border-color:#565e64;box-shadow:0 0 0 .25rem rgba(130,138,145,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-secondary,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-secondary,.bootstrapTheme .btn-secondary.active,.bootstrapTheme .btn-secondary:active,.show>.bootstrapTheme .btn-secondary.dropdown-toggle{color:#fff;background-color:#565e64;border-color:#51585e}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-secondary:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-secondary:focus,.bootstrapTheme .btn-secondary.active:focus,.bootstrapTheme .btn-secondary:active:focus,.show>.bootstrapTheme .btn-secondary.dropdown-toggle:focus{box-shadow:0 0 0 .25rem rgba(130,138,145,.5)}.bootstrapTheme .btn-secondary.disabled,.bootstrapTheme .btn-secondary:disabled{color:#fff;background-color:#6c757d;border-color:#6c757d}.bootstrapTheme .btn-success{color:#fff;background-color:#198754;border-color:#198754}.bootstrapTheme .btn-success:hover{color:#fff;background-color:#157347;border-color:#146c43}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-success,.bootstrapTheme .btn-success:focus{color:#fff;background-color:#157347;border-color:#146c43;box-shadow:0 0 0 .25rem rgba(60,153,110,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-success,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-success,.bootstrapTheme .btn-success.active,.bootstrapTheme .btn-success:active,.show>.bootstrapTheme .btn-success.dropdown-toggle{color:#fff;background-color:#146c43;border-color:#13653f}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-success:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-success:focus,.bootstrapTheme .btn-success.active:focus,.bootstrapTheme .btn-success:active:focus,.show>.bootstrapTheme .btn-success.dropdown-toggle:focus{box-shadow:0 0 0 .25rem rgba(60,153,110,.5)}.bootstrapTheme .btn-success.disabled,.bootstrapTheme .btn-success:disabled{color:#fff;background-color:#198754;border-color:#198754}.bootstrapTheme .btn-info{color:#000;background-color:#0dcaf0;border-color:#0dcaf0}.bootstrapTheme .btn-info:hover{color:#000;background-color:#31d2f2;border-color:#25cff2}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-info,.bootstrapTheme .btn-info:focus{color:#000;background-color:#31d2f2;border-color:#25cff2;box-shadow:0 0 0 .25rem rgba(11,172,204,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-info,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-info,.bootstrapTheme .btn-info.active,.bootstrapTheme .btn-info:active,.show>.bootstrapTheme .btn-info.dropdown-toggle{color:#000;background-color:#3dd5f3;border-color:#25cff2}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-info:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-info:focus,.bootstrapTheme .btn-info.active:focus,.bootstrapTheme .btn-info:active:focus,.show>.bootstrapTheme .btn-info.dropdown-toggle:focus{box-shadow:0 0 0 .25rem rgba(11,172,204,.5)}.bootstrapTheme .btn-info.disabled,.bootstrapTheme .btn-info:disabled{color:#000;background-color:#0dcaf0;border-color:#0dcaf0}.bootstrapTheme .btn-warning{color:#000;background-color:#ffc107;border-color:#ffc107}.bootstrapTheme .btn-warning:hover{color:#000;background-color:#ffca2c;border-color:#ffc720}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-warning,.bootstrapTheme .btn-warning:focus{color:#000;background-color:#ffca2c;border-color:#ffc720;box-shadow:0 0 0 .25rem rgba(217,164,6,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-warning,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-warning,.bootstrapTheme .btn-warning.active,.bootstrapTheme .btn-warning:active,.show>.bootstrapTheme .btn-warning.dropdown-toggle{color:#000;background-color:#ffcd39;border-color:#ffc720}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-warning:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-warning:focus,.bootstrapTheme .btn-warning.active:focus,.bootstrapTheme .btn-warning:active:focus,.show>.bootstrapTheme .btn-warning.dropdown-toggle:focus{box-shadow:0 0 0 .25rem rgba(217,164,6,.5)}.bootstrapTheme .btn-warning.disabled,.bootstrapTheme .btn-warning:disabled{color:#000;background-color:#ffc107;border-color:#ffc107}.bootstrapTheme .btn-danger{color:#fff;background-color:#dc3545;border-color:#dc3545}.bootstrapTheme .btn-danger:hover{color:#fff;background-color:#bb2d3b;border-color:#b02a37}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-danger,.bootstrapTheme .btn-danger:focus{color:#fff;background-color:#bb2d3b;border-color:#b02a37;box-shadow:0 0 0 .25rem rgba(225,83,97,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-danger,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-danger,.bootstrapTheme .btn-danger.active,.bootstrapTheme .btn-danger:active,.show>.bootstrapTheme .btn-danger.dropdown-toggle{color:#fff;background-color:#b02a37;border-color:#a52834}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-danger:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-danger:focus,.bootstrapTheme .btn-danger.active:focus,.bootstrapTheme .btn-danger:active:focus,.show>.bootstrapTheme .btn-danger.dropdown-toggle:focus{box-shadow:0 0 0 .25rem rgba(225,83,97,.5)}.bootstrapTheme .btn-danger.disabled,.bootstrapTheme .btn-danger:disabled{color:#fff;background-color:#dc3545;border-color:#dc3545}.bootstrapTheme .btn-light{color:#000;background-color:#f8f9fa;border-color:#f8f9fa}.bootstrapTheme .btn-light:hover{color:#000;background-color:#f9fafb;border-color:#f9fafb}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-light,.bootstrapTheme .btn-light:focus{color:#000;background-color:#f9fafb;border-color:#f9fafb;box-shadow:0 0 0 .25rem rgba(211,212,213,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-light,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-light,.bootstrapTheme .btn-light.active,.bootstrapTheme .btn-light:active,.show>.bootstrapTheme .btn-light.dropdown-toggle{color:#000;background-color:#f9fafb;border-color:#f9fafb}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-light:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-light:focus,.bootstrapTheme .btn-light.active:focus,.bootstrapTheme .btn-light:active:focus,.show>.bootstrapTheme .btn-light.dropdown-toggle:focus{box-shadow:0 0 0 .25rem rgba(211,212,213,.5)}.bootstrapTheme .btn-light.disabled,.bootstrapTheme .btn-light:disabled{color:#000;background-color:#f8f9fa;border-color:#f8f9fa}.bootstrapTheme .btn-dark{color:#fff;background-color:#212529;border-color:#212529}.bootstrapTheme .btn-dark:hover{color:#fff;background-color:#1c1f23;border-color:#1a1e21}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-dark,.bootstrapTheme .btn-dark:focus{color:#fff;background-color:#1c1f23;border-color:#1a1e21;box-shadow:0 0 0 .25rem rgba(66,70,73,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-dark,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-dark,.bootstrapTheme .btn-dark.active,.bootstrapTheme .btn-dark:active,.show>.bootstrapTheme .btn-dark.dropdown-toggle{color:#fff;background-color:#1a1e21;border-color:#191c1f}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-dark:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-dark:focus,.bootstrapTheme .btn-dark.active:focus,.bootstrapTheme .btn-dark:active:focus,.show>.bootstrapTheme .btn-dark.dropdown-toggle:focus{box-shadow:0 0 0 .25rem rgba(66,70,73,.5)}.bootstrapTheme .btn-dark.disabled,.bootstrapTheme .btn-dark:disabled{color:#fff;background-color:#212529;border-color:#212529}.bootstrapTheme .btn-outline-primary{color:#0d6efd;border-color:#0d6efd}.bootstrapTheme .btn-outline-primary:hover{color:#fff;background-color:#0d6efd;border-color:#0d6efd}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-outline-primary,.bootstrapTheme .btn-outline-primary:focus{box-shadow:0 0 0 .25rem rgba(13,110,253,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-primary,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-primary,.bootstrapTheme .btn-outline-primary.active,.bootstrapTheme .btn-outline-primary.dropdown-toggle.show,.bootstrapTheme .btn-outline-primary:active{color:#fff;background-color:#0d6efd;border-color:#0d6efd}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-primary:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-primary:focus,.bootstrapTheme .btn-outline-primary.active:focus,.bootstrapTheme .btn-outline-primary.dropdown-toggle.show:focus,.bootstrapTheme .btn-outline-primary:active:focus{box-shadow:0 0 0 .25rem rgba(13,110,253,.5)}.bootstrapTheme .btn-outline-primary.disabled,.bootstrapTheme .btn-outline-primary:disabled{color:#0d6efd;background-color:transparent}.bootstrapTheme .btn-outline-secondary{color:#6c757d;border-color:#6c757d}.bootstrapTheme .btn-outline-secondary:hover{color:#fff;background-color:#6c757d;border-color:#6c757d}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-outline-secondary,.bootstrapTheme .btn-outline-secondary:focus{box-shadow:0 0 0 .25rem rgba(108,117,125,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-secondary,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-secondary,.bootstrapTheme .btn-outline-secondary.active,.bootstrapTheme .btn-outline-secondary.dropdown-toggle.show,.bootstrapTheme .btn-outline-secondary:active{color:#fff;background-color:#6c757d;border-color:#6c757d}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-secondary:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-secondary:focus,.bootstrapTheme .btn-outline-secondary.active:focus,.bootstrapTheme .btn-outline-secondary.dropdown-toggle.show:focus,.bootstrapTheme .btn-outline-secondary:active:focus{box-shadow:0 0 0 .25rem rgba(108,117,125,.5)}.bootstrapTheme .btn-outline-secondary.disabled,.bootstrapTheme .btn-outline-secondary:disabled{color:#6c757d;background-color:transparent}.bootstrapTheme .btn-outline-success{color:#198754;border-color:#198754}.bootstrapTheme .btn-outline-success:hover{color:#fff;background-color:#198754;border-color:#198754}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-outline-success,.bootstrapTheme .btn-outline-success:focus{box-shadow:0 0 0 .25rem rgba(25,135,84,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-success,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-success,.bootstrapTheme .btn-outline-success.active,.bootstrapTheme .btn-outline-success.dropdown-toggle.show,.bootstrapTheme .btn-outline-success:active{color:#fff;background-color:#198754;border-color:#198754}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-success:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-success:focus,.bootstrapTheme .btn-outline-success.active:focus,.bootstrapTheme .btn-outline-success.dropdown-toggle.show:focus,.bootstrapTheme .btn-outline-success:active:focus{box-shadow:0 0 0 .25rem rgba(25,135,84,.5)}.bootstrapTheme .btn-outline-success.disabled,.bootstrapTheme .btn-outline-success:disabled{color:#198754;background-color:transparent}.bootstrapTheme .btn-outline-info{color:#0dcaf0;border-color:#0dcaf0}.bootstrapTheme .btn-outline-info:hover{color:#000;background-color:#0dcaf0;border-color:#0dcaf0}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-outline-info,.bootstrapTheme .btn-outline-info:focus{box-shadow:0 0 0 .25rem rgba(13,202,240,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-info,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-info,.bootstrapTheme .btn-outline-info.active,.bootstrapTheme .btn-outline-info.dropdown-toggle.show,.bootstrapTheme .btn-outline-info:active{color:#000;background-color:#0dcaf0;border-color:#0dcaf0}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-info:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-info:focus,.bootstrapTheme .btn-outline-info.active:focus,.bootstrapTheme .btn-outline-info.dropdown-toggle.show:focus,.bootstrapTheme .btn-outline-info:active:focus{box-shadow:0 0 0 .25rem rgba(13,202,240,.5)}.bootstrapTheme .btn-outline-info.disabled,.bootstrapTheme .btn-outline-info:disabled{color:#0dcaf0;background-color:transparent}.bootstrapTheme .btn-outline-warning{color:#ffc107;border-color:#ffc107}.bootstrapTheme .btn-outline-warning:hover{color:#000;background-color:#ffc107;border-color:#ffc107}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-outline-warning,.bootstrapTheme .btn-outline-warning:focus{box-shadow:0 0 0 .25rem rgba(255,193,7,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-warning,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-warning,.bootstrapTheme .btn-outline-warning.active,.bootstrapTheme .btn-outline-warning.dropdown-toggle.show,.bootstrapTheme .btn-outline-warning:active{color:#000;background-color:#ffc107;border-color:#ffc107}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-warning:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-warning:focus,.bootstrapTheme .btn-outline-warning.active:focus,.bootstrapTheme .btn-outline-warning.dropdown-toggle.show:focus,.bootstrapTheme .btn-outline-warning:active:focus{box-shadow:0 0 0 .25rem rgba(255,193,7,.5)}.bootstrapTheme .btn-outline-warning.disabled,.bootstrapTheme .btn-outline-warning:disabled{color:#ffc107;background-color:transparent}.bootstrapTheme .btn-outline-danger{color:#dc3545;border-color:#dc3545}.bootstrapTheme .btn-outline-danger:hover{color:#fff;background-color:#dc3545;border-color:#dc3545}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-outline-danger,.bootstrapTheme .btn-outline-danger:focus{box-shadow:0 0 0 .25rem rgba(220,53,69,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-danger,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-danger,.bootstrapTheme .btn-outline-danger.active,.bootstrapTheme .btn-outline-danger.dropdown-toggle.show,.bootstrapTheme .btn-outline-danger:active{color:#fff;background-color:#dc3545;border-color:#dc3545}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-danger:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-danger:focus,.bootstrapTheme .btn-outline-danger.active:focus,.bootstrapTheme .btn-outline-danger.dropdown-toggle.show:focus,.bootstrapTheme .btn-outline-danger:active:focus{box-shadow:0 0 0 .25rem rgba(220,53,69,.5)}.bootstrapTheme .btn-outline-danger.disabled,.bootstrapTheme .btn-outline-danger:disabled{color:#dc3545;background-color:transparent}.bootstrapTheme .btn-outline-light{color:#f8f9fa;border-color:#f8f9fa}.bootstrapTheme .btn-outline-light:hover{color:#000;background-color:#f8f9fa;border-color:#f8f9fa}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-outline-light,.bootstrapTheme .btn-outline-light:focus{box-shadow:0 0 0 .25rem rgba(248,249,250,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-light,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-light,.bootstrapTheme .btn-outline-light.active,.bootstrapTheme .btn-outline-light.dropdown-toggle.show,.bootstrapTheme .btn-outline-light:active{color:#000;background-color:#f8f9fa;border-color:#f8f9fa}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-light:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-light:focus,.bootstrapTheme .btn-outline-light.active:focus,.bootstrapTheme .btn-outline-light.dropdown-toggle.show:focus,.bootstrapTheme .btn-outline-light:active:focus{box-shadow:0 0 0 .25rem rgba(248,249,250,.5)}.bootstrapTheme .btn-outline-light.disabled,.bootstrapTheme .btn-outline-light:disabled{color:#f8f9fa;background-color:transparent}.bootstrapTheme .btn-outline-dark{color:#212529;border-color:#212529}.bootstrapTheme .btn-outline-dark:hover{color:#fff;background-color:#212529;border-color:#212529}.bootstrapTheme .btn-check:focus+.bootstrapTheme .btn-outline-dark,.bootstrapTheme .btn-outline-dark:focus{box-shadow:0 0 0 .25rem rgba(33,37,41,.5)}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-dark,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-dark,.bootstrapTheme .btn-outline-dark.active,.bootstrapTheme .btn-outline-dark.dropdown-toggle.show,.bootstrapTheme .btn-outline-dark:active{color:#fff;background-color:#212529;border-color:#212529}.bootstrapTheme .btn-check:active+.bootstrapTheme .btn-outline-dark:focus,.bootstrapTheme .btn-check:checked+.bootstrapTheme .btn-outline-dark:focus,.bootstrapTheme .btn-outline-dark.active:focus,.bootstrapTheme .btn-outline-dark.dropdown-toggle.show:focus,.bootstrapTheme .btn-outline-dark:active:focus{box-shadow:0 0 0 .25rem rgba(33,37,41,.5)}.bootstrapTheme .btn-outline-dark.disabled,.bootstrapTheme .btn-outline-dark:disabled{color:#212529;background-color:transparent}.bootstrapTheme .btn-link{font-weight:400;color:#0d6efd;text-decoration:underline}.bootstrapTheme .btn-link:hover{color:#0a58ca}.bootstrapTheme .btn-link.disabled,.bootstrapTheme .btn-link:disabled{color:#6c757d}.bootstrapTheme .btn-group-lg>.bootstrapTheme .btn,.bootstrapTheme .btn-lg{padding:.5rem 1rem;font-size:1.25rem;border-radius:.3rem}.bootstrapTheme .btn-group-sm>.bootstrapTheme .btn,.bootstrapTheme .btn-sm{padding:.25rem .5rem;font-size:.875rem;border-radius:.2rem}



/* Flat Theme */
.flatTheme .sidebar, .flatTheme nav {
	box-shadow: none !important;
}
.flatTheme .sidebar {
	border-right: 1px solid rgba(0, 0, 0, .1) !important
}
.flatTheme nav {
	border-bottom: 1px solid rgba(0, 0, 0, .1) !important
}
.flatTheme button {
	box-shadow: none !important
}
.flatTheme .spinner__path {
		stroke-dasharray: 90, 150  !important;
		stroke-dashoffset: -5 !important;
		animation-duration: .2s !important
}